footer{
    margin-top: 200px;
    padding: 10px;
    text-align: center;
    color: #FEF7EE;
    a, a:visited{
        color: #ED735D;
        text-decoration: none;
    }
    a:hover{
        color: #d8391d;
    }
}